In [20]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import DataFrame
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

spark = SparkSession.builder \
    .appName("fill_f101_round_f") \
    .enableHiveSupport() \
    .getOrCreate()

In [2]:
on_date = '2018-02-01'

In [3]:
md_account_d = spark.read.parquet('/user/hive/warehouse/ds.db/md_account_d')

In [4]:
second_level_accounts = md_account_d.select(F.substring('account_number', 1, 5))

In [29]:
def fill_f101_round_f(on_date: str, spark):
    # 0. Расчет дат
    report_on_date = datetime.strptime(on_date, "%Y-%m-%d")
    report_month = report_on_date - relativedelta(months=1)
    prev_month_start = report_month.replace(day=1)
    prev_month_end = (prev_month_start + relativedelta(months=1)) - relativedelta(days=1)
    balance_in_date = (prev_month_start - relativedelta(days=1)).strftime("%d.%m.%Y")
    prev_month_start_str = prev_month_start.strftime("%Y-%m-%d")
    prev_month_end_str = prev_month_end.strftime("%Y-%m-%d")
    
    # 1. Справочник счетов (актуальные все)
    accounts = spark.table("DS.MD_ACCOUNT_D") \
        .withColumn("ledger_account", F.expr("substring(account_number, 1, 5)")) \
        .select("account_rk", "ledger_account", "currency_code", "char_type")

    print(balance_in_date)
    # 2. Остатки на начало периода из DS.FT_BALANCE_F
    balances_in = spark.table("DS.FT_BALANCE_F") \
        .where(F.col("on_date") == balance_in_date) \
        .select("account_rk", 
                F.col("balance_out").alias("balance_in"))
    
    # 3. Остатки на конец периода из DM.DM_ACCOUNT_BALANCE_F
    balances_out = spark.table("DM.DM_ACCOUNT_BALANCE_F") \
        .where(F.col("on_date") == prev_month_end) \
        .select("account_rk", 
                F.col("balance_out").alias("balance_out_val"),
                F.col("balance_out_rub").alias("balance_out_rub"))

    # 4. Обороты по дням с суммами в валюте и в рублях
    turnovers = spark.table("DM.DM_ACCOUNT_TURNOVER_F")\
    .select("account_rk", "debet_amount", "credit_amount", 
            "debet_amount_rub", "credit_amount_rub")
    turnovers.show()
    # 5. Присоединяем всё
    df = accounts \
        .join(balances_in, "account_rk", "left") \
        .join(balances_out, "account_rk", "left") \
        .join(turnovers, "account_rk", "left") \
        .join(spark.table("DS.MD_LEDGER_ACCOUNT_S").select("ledger_account", "chapter"), 
              "ledger_account", "left")

    # 6. Агрегация по балансовому счету второго порядка
    result = df.groupBy("ledger_account", "chapter", "char_type").agg(
        F.first(F.lit(prev_month_start_str)).alias("from_date"),
        F.first(F.lit(prev_month_end_str)).alias("to_date"),

        # Остатки на начало
        F.sum(F.when(F.col("currency_code").isin("810", "643"), F.col("balance_in"))).alias("balance_in_rub"),
        F.sum(F.when(~F.col("currency_code").isin("810", "643"), F.col("balance_in"))).alias("balance_in_val"),
        F.sum(F.col("balance_in")).alias("balance_in_total"),

        # Обороты дебет
        F.sum(F.when(F.col("currency_code").isin("810", "643"), F.col("debet_amount_rub"))).alias("turn_deb_rub"),
        F.sum(F.when(~F.col("currency_code").isin("810", "643"), F.col("debet_amount_rub"))).alias("turn_deb_val"),
        F.sum(F.col("debet_amount_rub")).alias("turn_deb_total"),

        # Обороты кредит
        F.sum(F.when(F.col("currency_code").isin("810", "643"), F.col("credit_amount_rub"))).alias("turn_cre_rub"),
        F.sum(F.when(~F.col("currency_code").isin("810", "643"), F.col("credit_amount"))).alias("turn_cre_val"),
        F.sum(F.col("credit_amount_rub")).alias("turn_cre_total"),

        # Остатки на конец
        F.sum(F.when(F.col("currency_code").isin("810", "643"), F.col("balance_out_rub"))).alias("balance_out_rub"),
        F.sum(F.when(~F.col("currency_code").isin("810", "643"), F.col("balance_out_val"))).alias("balance_out_val"),
        F.sum(
            F.when(F.col("currency_code").isin("810", "643"), F.col("balance_out_rub"))
             .otherwise(F.col("balance_out_val"))
        ).alias("balance_out_total")
    )

    return result

In [30]:
f101_round_f = fill_f101_round_f(on_date, spark)

31.12.2017
+----------+-----------------+-----------------+-----------------+-----------------+
|account_rk|     debet_amount|    credit_amount| debet_amount_rub|credit_amount_rub|
+----------+-----------------+-----------------+-----------------+-----------------+
|     13619|   11579.74000000|   26389.41000000|   11579.74000000|   26389.41000000|
|     13630|78498976.71000000|80020220.76000000|78498976.71000000|80020220.76000000|
|     13631|  868633.91000000|  909738.98000000|  868633.91000000|  909738.98000000|
|     13632| 3820310.58000000| 3262575.86000000| 3820310.58000000| 3262575.86000000|
|     13658|   31966.89000000|   69235.39000000|   31966.89000000|   69235.39000000|
|     13685|  258141.85000000|  155499.70000000|  258141.85000000|  155499.70000000|
|     13688|     272.50000000|   86664.74000000|     272.50000000|   86664.74000000|
|     13873|   33513.35000000|   14956.22000000|   33513.35000000|   14956.22000000|
|     13883|   58205.40000000|   76771.39000000|   58205.40000000|   76771.39000000|
|     13906|   77787.52000000|  113539.46000000|   77787.52000000|  113539.46000000|
|     13907|   94114.13000000|   30324.44000000|   94114.13000000|   30324.44000000|
|     13985| 3804514.45000000| 3973102.26000000| 3804514.45000000| 3973102.26000000|
|     14043|   30343.30000000|     411.90000000|   30343.30000000|     411.90000000|
|     14138|  161131.97000000|  224344.95000000|  161131.97000000|  224344.95000000|
|     14548|   35324.86000000|   56768.12000000|   35324.86000000|   56768.12000000|
|     15565|   77354.08000000|   82836.21000000|   77354.08000000|   82836.21000000|
|     17132|  327204.33000000|  412002.15000000|  327204.33000000|  412002.15000000|
|     17244|  194188.76000000|  218503.42000000|  194188.76000000|  218503.42000000|
|     17434|  385520.15000000|  428943.19000000|  385520.15000000|  428943.19000000|
|     17436| 6323317.93000000| 6659524.16000000| 6323317.93000000| 6659524.16000000|
+----------+-----------------+-----------------+-----------------+-----------------+
only showing top 20 rows

In [31]:
f101_round_f.show(vertical=True, truncate=False)

-RECORD 0---------------------------------
 ledger_account    | 30102
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 3.401354052039999E9
 balance_in_val    | NULL
 balance_in_total  | 3.401354052039999E9
 turn_deb_rub      | 782147331.70000000
 turn_deb_val      | NULL
 turn_deb_total    | 782147331.70000000
 turn_cre_rub      | 787848410.30000000
 turn_cre_val      | NULL
 turn_cre_total    | 787848410.30000000
 balance_out_rub   | 3304435715.84000000
 balance_out_val   | NULL
 balance_out_total | 3304435715.84000000
-RECORD 1---------------------------------
 ledger_account    | 30109
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 63891.96
 balance_in_val    | NULL
 balance_in_total  | 63891.96
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 63891.96000000
 balance_out_val   | NULL
 balance_out_total | 63891.96000000
-RECORD 2---------------------------------
 ledger_account    | 30110
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 6626040.979999999
 balance_in_val    | 248922.80000000002
 balance_in_total  | 6874963.779999998
 turn_deb_rub      | 1029908.73000000
 turn_deb_val      | NULL
 turn_deb_total    | 1029908.73000000
 turn_cre_rub      | 1083668.65000000
 turn_cre_val      | NULL
 turn_cre_total    | 1083668.65000000
 balance_out_rub   | 6364416.11000000
 balance_out_val   | 248922.80000000
 balance_out_total | 6613338.91000000
-RECORD 3---------------------------------
 ledger_account    | 30111
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 1.9661641468800018E9
 balance_in_val    | NULL
 balance_in_total  | 1.9661641468800018E9
 turn_deb_rub      | 169530051.13000000
 turn_deb_val      | NULL
 turn_deb_total    | 169530051.13000000
 turn_cre_rub      | 172294943.56000000
 turn_cre_val      | NULL
 turn_cre_total    | 172294943.56000000
 balance_out_rub   | 2010956128.22000034
 balance_out_val   | NULL
 balance_out_total | 2010956128.22000034
-RECORD 4---------------------------------
 ledger_account    | 30114
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | NULL
 balance_in_val    | 3.586489608799998E8
 balance_in_total  | 3.586489608799998E8
 turn_deb_rub      | NULL
 turn_deb_val      | 37351775.96000000
 turn_deb_total    | 37351775.96000000
 turn_cre_rub      | NULL
 turn_cre_val      | 34976884.30000000
 turn_cre_total    | 34976884.30000000
 balance_out_rub   | NULL
 balance_out_val   | 394178153.44000000
 balance_out_total | 394178153.44000000
-RECORD 5---------------------------------
 ledger_account    | 30126
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 67224.06
 balance_in_val    | NULL
 balance_in_total  | 67224.06
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 67224.06000000
 balance_out_val   | NULL
 balance_out_total | 67224.06000000
-RECORD 6---------------------------------
 ledger_account    | 30202
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 129554.0
 balance_in_val    | NULL
 balance_in_total  | 129554.0
 turn_deb_rub      | 43777.58000000
 turn_deb_val      | NULL
 turn_deb_total    | 43777.58000000
 turn_cre_rub      | 93819.58000000
 turn_cre_val      | NULL
 turn_cre_total    | 93819.58000000
 balance_out_rub   | 79512.00000000
 balance_out_val   | NULL
 balance_out_total | 79512.00000000
-RECORD 7---------------------------------
 ledger_account    | 30204
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 5541.83
 balance_in_val    | NULL
 balance_in_total  | 5541.83
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 5541.83000000
 balance_out_val   | NULL
 balance_out_total | 5541.83000000
-RECORD 8---------------------------------
 ledger_account    | 30220
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | NULL
 balance_in_val    | 2.8105822234000003E8
 balance_in_total  | 2.8105822234000003E8
 turn_deb_rub      | NULL
 turn_deb_val      | 2263545.34000000
 turn_deb_total    | 2263545.34000000
 turn_cre_rub      | NULL
 turn_cre_val      | 2368454.91000000
 turn_cre_total    | 2368454.91000000
 balance_out_rub   | NULL
 balance_out_val   | 282173925.07000000
 balance_out_total | 282173925.07000000
-RECORD 9---------------------------------
 ledger_account    | 30221
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 69885.07
 balance_in_val    | 334988.54999999993
 balance_in_total  | 404873.62
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 69885.07000000
 balance_out_val   | 334988.55000000
 balance_out_total | 404873.62000000
-RECORD 10--------------------------------
 ledger_account    | 30222
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 215769.46999999997
 balance_in_val    | 654691.4800000001
 balance_in_total  | 870460.9500000001
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 215769.47000000
 balance_out_val   | 654691.48000000
 balance_out_total | 870460.95000000
-RECORD 11--------------------------------
 ledger_account    | 30223
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 814660.6699999999
 balance_in_val    | NULL
 balance_in_total  | 814660.6699999999
 turn_deb_rub      | 15809348.20000000
 turn_deb_val      | NULL
 turn_deb_total    | 15809348.20000000
 turn_cre_rub      | 15781776.55000000
 turn_cre_val      | NULL
 turn_cre_total    | 15781776.55000000
 balance_out_rub   | 345942.62000000
 balance_out_val   | NULL
 balance_out_total | 345942.62000000
-RECORD 12--------------------------------
 ledger_account    | 30232
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 86904.66
 balance_in_val    | 65593.48
 balance_in_total  | 152498.14
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 86904.66000000
 balance_out_val   | 65593.48000000
 balance_out_total | 152498.14000000
-RECORD 13--------------------------------
 ledger_account    | 30233
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 58966.57
 balance_in_val    | 84241.58
 balance_in_total  | 143208.15
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 58966.57000000
 balance_out_val   | 84241.58000000
 balance_out_total | 143208.15000000
-RECORD 14--------------------------------
 ledger_account    | 30236
 chapter           | А
 char_type         | П
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 39070.65
 balance_in_val    | 918075.5700000006
 balance_in_total  | 957146.2200000007
 turn_deb_rub      | NULL
 turn_deb_val      | 4285851.36000000
 turn_deb_total    | 4285851.36000000
 turn_cre_rub      | NULL
 turn_cre_val      | 4186948.07000000
 turn_cre_total    | 4186948.07000000
 balance_out_rub   | 39070.65000000
 balance_out_val   | 253549.01000000
 balance_out_total | 292619.66000000
-RECORD 15--------------------------------
 ledger_account    | 30413
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 2916835.4199999995
 balance_in_val    | NULL
 balance_in_total  | 2916835.4199999995
 turn_deb_rub      | 2608136.51000000
 turn_deb_val      | NULL
 turn_deb_total    | 2608136.51000000
 turn_cre_rub      | 2382487.14000000
 turn_cre_val      | NULL
 turn_cre_total    | 2382487.14000000
 balance_out_rub   | 6752874.71000000
 balance_out_val   | NULL
 balance_out_total | 6752874.71000000
-RECORD 16--------------------------------
 ledger_account    | 30424
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 1.2725183475000004E8
 balance_in_val    | NULL
 balance_in_total  | 1.2725183475000004E8
 turn_deb_rub      | 8447056.02000000
 turn_deb_val      | NULL
 turn_deb_total    | 8447056.02000000
 turn_cre_rub      | 9299232.48000000
 turn_cre_val      | NULL
 turn_cre_total    | 9299232.48000000
 balance_out_rub   | 113316694.53000000
 balance_out_val   | NULL
 balance_out_total | 113316694.53000000
-RECORD 17--------------------------------
 ledger_account    | 30425
 chapter           | А
 char_type         | А
 from_date         | 2018-01-01
 to_date           | 2018-01-31
 balance_in_rub    | 87620.47
 balance_in_val    | 38318.13
 balance_in_total  | 125938.6
 turn_deb_rub      | NULL
 turn_deb_val      | NULL
 turn_deb_total    | NULL
 turn_cre_rub      | NULL
 turn_cre_val      | NULL
 turn_cre_total    | NULL
 balance_out_rub   | 87620.47000000
 balance_out_val   | 38318.13000000
 balance_out_total | 125938.60000000