In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("InitTables") \
    .enableHiveSupport() \
    .getOrCreate()

In [2]:
spark.sql("CREATE DATABASE IF NOT EXISTS DS")

DataFrame[]

In [3]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS DS.FT_BALANCE_F (
        on_date DATE not null,
        account_rk INT not null,
        currency_rk INT,
        balance_out FLOAT
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE 
""")

spark.sql("""
    CREATE TABLE IF NOT EXISTS DS.FT_POSTING_F (
        oper_date DATE not null,
        credit_account_rk INT not null,
        debet_account_rk INT not null,
        credit_amount FLOAT,
        debet_amount FLOAT
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE
""")

spark.sql("""
    CREATE TABLE IF NOT EXISTS DS.MD_ACCOUNT_D (
        data_actual_date DATE not null,
        data_actual_end_date DATE not null,
        account_rk INT not null,
        account_number VARCHAR(20) not null,
        char_type VARCHAR(1) not null,
        currency_rk INT not null,
        currency_code VARCHAR(3) not null
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE
""")

spark.sql("""
    CREATE TABLE IF NOT EXISTS DS.MD_CURRENCY_D (
        currency_rk INT not null,
        data_actual_date DATE not null,
        data_actual_end_date DATE,
        currency_code VARCHAR(3),
        code_iso_char VARCHAR(3)
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE
""")

spark.sql("""
    CREATE TABLE IF NOT EXISTS DS.MD_EXCHANGE_RATE_D (
        data_actual_date DATE not null,
        data_actual_end_date DATE,
        currency_rk INT not null,
        reduced_cource FLOAT,
        code_iso_num VARCHAR(3)
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE
""")

spark.sql("""
    CREATE TABLE IF NOT EXISTS DS.MD_LEDGER_ACCOUNT_S (
        chapter CHAR(1),
        chapter_name VARCHAR(16),
        section_number INT,
        section_name VARCHAR(22),
        subsection_name VARCHAR(21),
        ledger1_account INT,
        ledger1_account_name VARCHAR(47),
        ledger_account INT not null,
        ledger_account_name VARCHAR(153),
        characteristic CHAR(1),
        is_resident INT,
        is_reserve INT,
        is_reserved INT,
        is_loan INT,
        is_reserved_assets INT,
        is_overdue INT,
        is_interest INT,
        pair_account VARCHAR(5),
        start_date DATE not null,
        end_date DATE,
        is_rub_only INT,
        min_term VARCHAR(1),
        min_term_measure VARCHAR(1),
        max_term VARCHAR(1),
        max_term_measure VARCHAR(1),
        ledger_acc_full_name_translit VARCHAR(1),
        is_revaluation VARCHAR(1),
        is_correct VARCHAR(1)
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE
""")

DataFrame[]

In [4]:
spark.sql("""
CREATE TABLE IF NOT EXISTS DS.LOGS (
    id BIGINT,
    job_name STRING,
    start_time TIMESTAMP,
    end_time TIMESTAMP,
    status STRING
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ';'
    STORED AS TEXTFILE
""")

DataFrame[]

+---+--------+----------+--------+------+
| id|job_name|start_time|end_time|status|
+---+--------+----------+--------+------+
+---+--------+----------+--------+------+