In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("create_table_DM_ACCOUNT_TURNOVER_F") \
    .enableHiveSupport() \
    .getOrCreate()

In [2]:
spark.sql("""
CREATE TABLE DM.DM_ACCOUNT_TURNOVER_F (
    on_date STRING,
    account_rk INT,
    credit_amount DECIMAL(23,8),
    credit_amount_rub DECIMAL(23,8),
    debet_amount DECIMAL(23,8),
    debet_amount_rub DECIMAL(23,8)
)
PARTITIONED BY (on_date)
STORED AS PARQUET
LOCATION '/user/hive/warehouse/dm.db/dm_account_turnover_f'
""")

DataFrame[]

In [3]:
#park.sql('DROP table DM.DM_ACCOUNT_TURNOVER_F')